---
interface Props {
  label: string;
  href: string;
}

const { href, label } = Astro.props;
---

<style>
  a {
    text-decoration: none;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 900;
    letter-spacing: 0.125rem;
    color: black;
  }
</style>

<a href={href}>{label}</a>
