---
interface Props {
  href: string;
  ariaLabel?: string;
}

const { href, ariaLabel } = Astro.props;
---

<style>
  a {
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: black;
  }
</style>

<a href={href} aria-label={ariaLabel}><slot /></a>
