---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<style>
  ul {
    margin-top: 0.25rem;
    display: flex;
    list-style: none;
    gap: 0.25rem;
    padding: 0;
  }

  a {
    background: black;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 500px;
    font-size: 0.75rem;
    text-decoration: none;
  }
</style>

<ul>
  {
    tags.map((tag) => {
      return (
        <li>
          <a href=`/tag/${tag}`>{tag}</a>
        </li>
      );
    })
  }
</ul>
